@import "c/cardStyles";

.card {
    width: 144px;
    transform: translate3d(0px, 0px, 0px);
    cursor: move;
    box-shadow: 1px 1px 5px #ccc;
    border-radius: 4px;
}

.hidden {
    display: none;
}

.cardContent {
    height: 84px;
    background: transparent;
    border: none;
    resize: none;
    width: 100%;
    font-size: 12px;
    overflow: scroll;
}

.cardHeader {
    background: rgba(255, 255, 255, 0.27);
}
