@import "c/cardStyles";

.colorPanel {
    padding-left: 5px;
}

.colorPanel div {
    width: 24px;
    height: 24px;
    border-radius: 50%;
    margin-right: 10px;
    cursor: pointer;
    border: 1px solid rgb(169, 169, 169);
}

:host {
    --sds-c-textarea-sizing-min-height: 200px;
}
