.canvas {
    width: 100%;
    height: 800px;
    background-repeat: no-repeat;
    background-size: contain;
}

c-card {
    position: absolute;
}

.container {
    background: #fafafa;
    width: 100%;
    overflow: hidden;
    position: relative;
    border: 1px solid #ccc;
}

.accordion-bg {
    background: var(--lwc-colorBackground);
}

.bg-image {
    position: absolute;
    max-width: initial;
}
