.red {
    background-color: #ffcece;
}

.green {
    background-color: rgb(190, 250, 190);
}

.purple {
    background-color: rgb(212, 212, 255);
}

.yellow {
    background-color: #fff58a;
}

.gray {
    background-color: #ececec;
}

.blue {
    background-color: #c5fff7;
}

.white {
    background-color: white;
}

.pink {
    background-color: #ffdaf5;
}
